!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %title
      = t('.title')
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes", name: "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
  %body
    %header.navbar.navbar-default{role: 'navigation'}
      .navbar-header
        = link_to t('.title'), root_path, class: 'navbar-brand'
      %nav
        %ul.nav.navbar-nav
          %li
            = link_to projects_path do
              %i.glyphicon.glyphicon-list
              = t('.projects')
    .container
      = render 'layouts/flash'
      .row
        .col-md-12
          = yield
    = javascript_include_tag 'application'
